# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Packaging
*.egg-info/
dist/
build/

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
misc/
files/
